*{
    list-style: none;
}

aside a{
    text-decoration: none;
    color: #2b2b2b;
}

aside:hover a{
    color: #0d6efd;
}

.title{
    height: 100px;
}

.title h1{
    color: #0d6efd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    font-style: oblique;
}

aside{
    height: 100px;
}

aside{
    line-height: 100px;
}

.contenedor{
    width: 500px;
}

@media (max-width: 580px){
    .contenedor{
        width: 300px;
    }
    aside{
        height: auto;
        line-height: 40px;
    }
}

footer nav p,i{
    color: #0d6efd;
    font-size: 20px;
}

footer nav p:hover,
footer nav i:hover{
    color: white;
}

@media (max-width:800px){
    .imagenes img{
        width: 100%;
    }
}

@media (max-width:500px){
    .imagenes img{
        width: 100%;
    }
}

@media (max-width:350px){
    .imagenes img{
        width: 100%;
    }
}